body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: #333;
    color: #fff;
    padding: 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img{
    height: 50px;
    margin-left: 20px;
}

nav {
    margin-right: 20px;
}
nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
}
nav a:hover {
    text-decoration: underline;
}

#foto-container {
    margin: 20px auto;
    width: 90%;
    max-width: 600px;
    border: 2px solid #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

#foto {
    width: 100%;
    height: auto;
}

#botones {
    margin: 20px;
}

button {
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 16px;
}

#carrito {
    margin: 20px;
    padding: 20px;
    border: 2px solid #ddd;
    background-color: #333;
    color: #ddd;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

#fotografiasCarrito li {
    list-style: none;
    margin: 10px 0;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-bottom: 5px;
}

input, textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

#respuestaMsj {
    margin-top: 10px;
    text-align: center;
    color: black;
}