body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img{
    height: 55px;
    margin-left: 10px;
    width: 100px;
}

nav {
    display: flex;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    text-align: center;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}

main {
    flex: 1;
    padding: 20px;
}

footer {
    background-color: #c2c2c2;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer p {
    text-align: center;
}

a {
    color: #fff;
    text-align: right;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
}

#foto-container {
    margin: 20px auto;
    width: 90%;
    max-width: 600px;
    display: inline-block;
    justify-content: center;
    align-items: center;
}

#foto {
    width: 100%;
    height: auto;
    border: 2px solid #ddd;
}

#botones {
    margin: 20px;
}

button {
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 16px;
}

#carrito {
    margin: 20px;
    padding: 20px;
    border: 2px solid #ddd;
    background-color: #333;
    color: #ddd;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

#fotografiasCarrito li {
    list-style: none;
    margin: 10px 0;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-bottom: 5px;
}

input, textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

#respuestaMsj {
    margin-top: 10px;
    text-align: center;
    color: black;
}