body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#canvas-image-blending {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

#menu button {
    width: 20%;
    padding: 2.5%;
    font-size: 1em;
    margin-top: 40px;
    background-color: gainsboro;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    height: 55px;
    margin-left: 10px;
    width: 100px;
}

nav {
    display: flex;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    text-align: center;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}

main {
    flex: 1;
    padding: 20px;
}

footer {
    background-color: #c2c2c2;
    position: relative;
    bottom: 0;
    width: 100%;
    position: absolute;
}

footer p {
    text-align: center;
}

a {
    color: #fff;
    text-align: right;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
}

#menuProductos {
    display: flex;
}

#foto-container {
    margin: 2px auto;
    width: 75%;
    max-width: 600px;
    justify-content: center;
    align-items: center;
}

#carrito {
    width: 25%;
    height: 26rem;
}

#foto {
    width: 100%;
    height: auto;
    border: 2px solid #ddd;
}

#ant {
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
    background-color: rgba(0- 0, 0, 0);
}

#sig {
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: space-between;
    margin: 0 523px;
    background-color: rgba(0- 0, 0, 0);
}

#agregarCarrito {
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 16px;
}

#carrito {
    margin: 20px;
    padding: 20px;
    border: 2px solid #ddd;
    background-color: #333;
    color: #ddd;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

#fotografiasCarrito li {
    list-style: none;
    margin: 10px 0;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-bottom: 5px;
}

input,
textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

#respuestaMsj {
    margin-top: 10px;
    text-align: center;
    color: black;
}

#registro,
#login,
.container {
    width: 100%;
    max-width: 360px;
    padding: 15px;
    margin: 0 auto;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* #menu,
#presupuesto,
#curso,
#taller,
#resultado {
    width: 100%;
    max-width: 360px;
    padding: 100px;
    margin: 0 auto;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
} */

#imagenR,
#imagenI {
    height: 120px;
    margin-left: 10px;
    width: 100px;
}

#botonIngresar,
#botonRegistro {
    width: 100%;
}

#textoSesion,
#botonRegistrarse {
    font-size: x-small;
}